<div class="card max-w-2xl mx-auto">
    <h1>HTML encoder and decoder</h1>

    <textarea rows="4" class="block rounded-t-lg px-2.5 py-2.5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-indigo-500 focus:outline-none focus:ring-0 focus:border-indigo-600 mt-4" placeholder="Content to convert" autocomplete="off" id="contentToConvert"></textarea>

    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-500 dark:focus:border-indigo-500 outline-none mt-4" id="actionInput" onchange="convert()">
        <option value="Encode">Encode</option>
        <option value="Decode">Decode</option>
    </select>

    <textarea rows="4" class="block rounded-t-lg px-2.5 py-2.5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-indigo-500 focus:outline-none focus:ring-0 focus:border-indigo-600 mt-4" placeholder="Result" autocomplete="off" id="resultContent" readonly></textarea>
</div>

<script>
    const contentToConvertTextarea = document.querySelector("#contentToConvert");
    const resultContentTextarea = document.querySelector("#resultContent");
    const actionInput = document.querySelector("#actionInput");

    contentToConvertTextarea.addEventListener("keyup", convert);

    function convert() {
        if(actionInput.value == "Encode") resultContentTextarea.value = contentToConvertTextarea.value.replace(/[\u00A0-\u9999<>\&]/g, function(i) {return '&#'+i.charCodeAt(0)+';';}); else resultContentTextarea.value = contentToConvertTextarea.value.replace(/&#([0-9]{1,3});/gi, function(match, numStr) {var num = parseInt(numStr, 10);return String.fromCharCode(num);});
    }
</script>